<!DOCTYPE html>
<html lang="en">
<head>
    <title>FB Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.3/angular-animate.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

</head>
<body ng-app = "myApp" ng-controller ="myCtrl" ng-cloak>
    <div class="container" style="background-color: #f8f8f8; padding:10px 0 10px 0">
        <div class="row ">
            <div class="label col-md-4 col-sm-4 col-xs-12 ">
                <p id="FBSearch" class="col-xs-4" >FB Search</p>
            </div>
            <div class="mybtn col-md-8 col-sm-8 col-xs-12 ">

                <div class="input-group" >
                    <input id="searchbar" type="text" class="form-control col-md-8 col-sm-8"  placeholder="type something..." data-toggle="tooltip" title="Please type in keyword" data-placement="bottom">
                    <button class="btn btn-default col-md-2 col-sm-2 text-center" id="search" type="submit" ng-click="Search()"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-default col-md-2 col-sm-2 text-center" id="clear" type="reset" value="reset" ng-click="clear()">Clear</button>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
            <ul class="nav nav-tabs " id="tabs">
                <li class="active col-md-2 col-sm-2 col-xs-12"><a id="user"  data-toggle="tab" class="link" href="#" ng-click="Switch($event)">Users</a></li>
                <li class="col-md-2 col-sm-2 col-xs-12"><a id="page" data-toggle="tab" class="link" href="#" ng-click="Switch($event)">Pages</a></li>
                <li class="col-md-2 col-sm-2  col-xs-12"><a id="event" data-toggle="tab" class="link" href="#" ng-click="Switch($event)">Events</a></li>
                <li class="col-md-2 col-sm-2 col-xs-12"><a id="place" data-toggle="tab" class="link" href="#" ng-click="Switch($event)">Places</a></li>
                <li class="col-md-2  col-sm-2 col-xs-12"><a id="group" data-toggle="tab" class="link" href="#" ng-click="Switch($event)">Groups</a></li>
                <li class="col-md-2 col-sm-2  col-xs-12"><a id="favorite" data-toggle="tab" class="link" href="#" ng-click="Favorite()">Favorites</a></li>
            </ul>
    </div>

    <progress></progress>


    <div id="showThis" ng-show="showcontainer">
        <div id="table"  ng-show="showtable">
            <table class="table" ng-show="!favorite">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Favorite</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tr ng-repeat="record in text.data">
                    <td>{{$index+1}}</td>
                    <td><img class="usrphoto" ng-src="{{record.picture.data.url}}" ></td>
                    <td>{{record.name}}</td>
                    <td>
                        <button type="button"  class="btn btn-default" ng-click="star(record.id,record.name,record.picture.data.url,type)" ><i class={{check(record.id,type)}}></i></button>
                    </td>
                    <td><button type="button" class="btn btn-default" ng-click="details(record.id,record.picture.data.url,record.name,type)"><i class="glyphicon glyphicon-chevron-right"></i></button></td>
                </tr>
            </table>
            <table class="table" ng-show="favorite">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Profile Photo</th>
                    <th>Name</th>
                    <th >Type</th>
                    <th>Favorite</th>
                    <th>View Details</th>
                </tr>
                </thead>
                <tr ng-repeat="fav in favdata">
                    <td>{{$index+1}}</td>
                    <td><img class="usrphoto" ng-src="{{fav.pic}}" ></td>
                    <td>{{fav.name}}</td>
                    <td >{{fav.type}}s</td>
                    <td>
                        <button type="button"  class="btn btn-default" ng-click="delete(fav.id+fav.type)"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                    <td><button type="button" class="btn btn-default" ng-click="details(fav.id,fav.pic,fav.name,fav.type)"><i class="glyphicon glyphicon-chevron-right"></i></button></td>
                </tr>
            </table>
        </div>
        <div id="turn" ng-show="showturn">
            <button type="button" id="previous" class="btn btn-default" ng-if="paging.previous" ng-click="previous()">Previous<a href=""></a></button>
            <button type="button" id="next" class="btn btn-default" ng-if="paging.next" ng-click="next()">Next<a href=""></a></button>
        </div>
    </div>
    <div id="details" ng-show="showdetails" >
        <div id="options">
            <button type="button" class="btn btn-default" ng-click="back()" ><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
            <button type="button" class="btn btn-default" ng-click="post()" style="float: right;font-size:22px; padding: 0px 10px 0px 10px" ><i class="fa fa-facebook-square" style="color: #3b5998; "></i> </button>
            <button type="button" class="btn btn-default" ng-click="star(currentid,name,picture,type)" style="float: right;"><i class={{check(currentid,type)}}></i></button>
        </div>

        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-12 " >
                <div class="panel panel-default">
                    <div class="panel-heading" >Albums</div>
                    <div class="panel-body" >
                        <div class="detail progress" ng-show="showbarI" >
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            </div>
                        </div>
                        <div ng-show="showalbum">
                            <div ng-if="detaildata.albums" >
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" ng-repeat="album in detaildata.albums.data">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+$index}}" class="albumlink">{{album.name}}</a>
                                            </p>
                                        </div>
                                        <div class="panel-body panel-collapse collapse {{checkfirst($index)}}" id="{{'collapse'+$index}}">
                                            <div class="albumphotos" ng-repeat="photo in album.photos.data"  >
                                                <img  ng-src="{{'https://graph.facebook.com/v2.8/'+photo.id+'/picture?access_token='+Your_Access_Token}}" class="img-responsive img-rounded">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!detaildata.albums" >
                                <div class="panel panel-default" style="background-color:#fcf8e3;padding:10px 10px 10px 10px;color: #b3a48a;">
                                    No data found.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Posts</div>
                    <div class="panel-body" >
                        <div class="detail progress" ng-show="showbarI" >
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            </div>
                        </div>
                        <div ng-show="showpost">
                        <div ng-if="detaildata.posts">
                            <div class="panel panel-default" ng-repeat="post in detaildata.posts.data">
                                <div class="panel-body" >
                                    <div class="postheader">
                                        <img ng-src="{{picture}}" class="postphoto">
                                        <div>
                                            <p class="postname">{{name}}</p>
                                            <p class="time" >{{post.created_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                        </div>
                                    </div>
                                    <div ng-if="post.message" class="postcontent">
                                        {{post.message}}
                                    </div>
                                    <div ng-if="!post.message" class="postcontent">
                                        {{post.story}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!detaildata.posts">
                            <div class="panel panel-default" style="background-color:#fcf8e3;padding:10px 10px 10px 10px;color:#b3a48a">
                                No data found.
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="hw8.js"></script>
</html>